{% extends 'base.html' %} 
{% load static %} 


{% block content %}

<div class="flex justify-around align-center max-w[1200px] m-auto mt-[200px]">
    {% for i in articles %}
    <div class="w-[350px] border rounded-[20px] p-[10px] text-center">
        {% if i.image.url %}
            <img src="{{ i.image.url }}" alt="">
        {% endif %}
        <h2 class="">{{ i.title }}</h2>
        <p>{{ i.description }}</p>
        <div class="">
            <p class="">{{ i.view }}</p>
            <p class="">{{ i.category }}</p>
        </div>

        <button class="w-[100px] bg-red-400 text-white rounded-[20px] "><a href="{% url 'detail' i.id %}">детальнее</a></button>
    </div>
    {% endfor %}
</div>

{% endblock %}
