{% extends 'base.html' %} 
{% load static %} 


{% block content %}

   {% include './components/hero.html' %}
   {% include './components/categories.html' %}



<div class="flex justify-around flex-wrap align-center max-w[1200px] m-auto mt-[100px] ">
    {% for i in articles %}
    <div class="relative w-[374px] min-h-[430px] rounded-[28px] mt-[10px] bg-white shadow-xl rounded-[20px] p-[10px] text-center">
        {% if i.image.url %}
            <img class="w-[350px] rounded-[20px]" src="{{ i.image.url }}" alt="">
        {% endif %}
        <div class="flex justify-between mt-[18px] mb-[12px] px-[18px]">
            <p class="px-[12px] py-[10px] border bg-[#F6F8FB] border-[#EDF1F6] rounded-[999px]">{{ i.category }}</p>
            <p class="px-[12px] py-[10px] border bg-[#F6F8FB] border-[#EDF1F6] rounded-[999px] flex items-center gap-[6px]"> <img src="/media/krug.svg" alt="error"> {{ i.view }}</p>
        </div>
        <div class="flex flex-col gap-[12px]  items-start px-[18px] ">
            <h2 class="text-[22px] font-bold">{{ i.title }}</h2>
            <p class="text-gray-500">{{ i.description | slice:":50" }}...</p>
        </div>

        <div class="flex items-center">
            <p>{{ i.created_at }}</p>
            <button class=" absolute bottom-[5px] right-[5px]"><a href="{% url 'slug-detail' i.slug %}">Читать →</a></button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
