 <header class="w-full">
        <div class="max-w-[1240px] m-auto flex justify-between items-center h-[88px] bg-white mt-[50px] px-[30px] rounded-[26px]" >
            <a href="{% url 'home' %}" class="text-[#111827] text-[24px] font-bold">IT.blog</a>

            <style>
                a {
                    cursor: pointer;
                }
            </style>
            <nav class="flex gap-[20px] justify-between items-center px-[20px] w-[494px] h-[45px] bg-[#EDF1F6] rounded-[18px]">
                <a href="" class="py-[8px] px-[12px] hover:bg-white rounded-[15px] transition-all duration-200 hover:cursor-pointer">Главная</a>
                <a href="" class="py-[8px] px-[12px] hover:bg-white rounded-[15px] transition-all duration-200 hover:cursor-pointer">Статьи</a>
                <a href="" class="py-[8px] px-[12px] hover:bg-white rounded-[15px] transition-all duration-200 hover:cursor-pointer">Категории</a>
                <a href="" class="py-[8px] px-[12px] hover:bg-white rounded-[15px] transition-all duration-200 hover:cursor-pointer">О проекте</a>
            </nav>
            <div>
                {% if user.is_authenticated %}
                    <p class="text-black">{{ user.username }}</p>
                {% else %}
                <div class="">
                    <button class="w-[85px] h-[41px] rounded-[15px] bg-white border border-1 border-gray-500"><a href="admin" class="">Войти</a></button>
                    <button class="w-[130px] h-[41px] rounded-[15px] bg-[#111827] text-white border border-1 border-gray-500"><a href="admin" class="">Регистрация</a></button>
                </div>
                {% endif %}



            </div>
        </div>
</header>